<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h2>About Page</h2>
    <br>
    <p style="font-size: 15px">The purpose of this tutorial is to provide basic understanding of Ember.js Framework and to gain hand-on practice on some of its features.</p>
    <br>
    <br>
    {{show-logo}}
    <br>
  </div>
</div>