<br>
<h2>Contact Information</h2>
<h3> S1G6</h3>
<div class="ui-list">
  <div class="item">
      <a href="tel:+10000000000">
        <i class="phone icon"></i>Phone</a>
  </div>
  <div class="item">
      <a href="mailto:help@s1gb.com">
        <i class="mail icon"></i>
        Email</a>
  </div>
</div>
<br><br><br>
{{outlet}}